<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string>M4A or other audio file</string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string></string>
		<key>AMDSummary</key>
		<string>Converts an audio file to a 32-bit floating point WAV file</string>
		<key>AMDWebsite</key>
		<string>www.lukktone.com</string>
	</dict>
	<key>AMIconName</key>
	<string>(* The name of the icon *)</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>AudioFile2Wav</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>Add</string>
		<key>IgnoreButton</key>
		<string>Don&apos;t Add</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
</dict>
</plist>
